@import url("https://fonts.googleapis.com/css2?family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap");
/* -----------root--------- */

:root {
  --dark-green: #063302;
  --light-green: #286e16;
  --neon-green: rgb(9, 250, 90);
  --grey: grey;
  --white: white;
  --blue: #1135ff;
  --yellow: #d4c704;
  --orange: #c57906;
  scroll-behavior: smooth;
}

/* -----------FONT--------------- */

.zalando-sans-semiexpanded--bold {
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.zalando-sans-semiexpanded--normal {
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.text__white {
  color: var(--white);
}

/* ------------BODY------------ */

body {
  margin: 0;
}

/* --------header------- */

.header__flex {
  display: flex;
  justify-content: center;
  /* align-items: last baseline; */
  /* align-self: center; */
  /* flex-direction: column; */
}

.header__div--center {
  text-align: center;
  padding-bottom: 1vh;
}

.header__p--smargin {
  /* padding-bottom: 1vh; */
  /* padding-top: 1vh; */
  /* margin-top: 1vh; */
  margin-bottom: 1vh;
}

.header__bg--color {
  background-color: var(--dark-green);
}

/* ---------main------------ */

/* -----------Article----------- */

article {
  background-color: var(--light-green);
}

.article__bg--form {
  padding-bottom: 5vh;
  padding-top: 0.1vh;
  /* margin-top: 1vh; */
  /* margin-bottom: 1vh; */
}

.div__square--form {
  border-radius: 10px;
  width: 50%;
  /* padding-bottom: vh; */
  /* padding-top: 50vh; */
}

.div__square--border {
  border: 3px solid var(--white);
}

.div__square--flex {
  display: flex;
  justify-content: center;
}

.div__square--gradient {
  background: #399b2a;
  background: linear-gradient(180deg, rgba(57, 155, 42, 1) 0%, rgba(31, 135, 74, 1) 49%, rgba(8, 115, 52, 1) 98%, rgba(7, 115, 52, 1) 100%);
}

/* ------------Article----circle--creation------------ */

.div__circle--form {
  width: 8%;
  /* padding-bottom:5rem;
padding-top:5rem; */
  height: 100px;
  border-radius: 10rem;
}

.div__circle--flex {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----------------Player-avatars------------- */
.article__div__player--shadow {
  box-shadow: 4px 12px 20px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 12px 20px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 12px 20px -9px rgba(0, 0, 0, 0.75);
}

.article__div__player--form {
  text-align: center;
  /* background-color: #1135ff; */
  width: 9rem;
  padding: 0.2rem;
  border-radius: 20px;
}

.article__div__player--coach {
  position: relative;
  left: 80vw;
  top: 7vh;
  background-color: var(--neon-green);
}

.article__div__player--goalkeeper {
  position: relative;
  top: 33vh;
  left: 4vw;
  background-color: var(--grey);
}

.article__div__player--modfielder {
  position: absolute;
  z-index: 1;
  left: 46.6vw;
  bottom: 50vh;
  background-color: var(--blue);
}

.article__div__player--defender {
  position: relative;
  left: 22.0vw;
  bottom: 23vh;
  background-color: var(--yellow);
}

.article__div__player--forward {
  position: relative;
  left: 40vw;
  bottom: 28.2vh;
  background-color: var(--orange);
}

/* --------------Section-------------- */

h2{
  text-align: center;
}

.section--flex{
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-bottom:5vh;
}

/* -------------player--buttons-------- */

button{
padding:2rem;
border:none;
border-radius:20px;
}

button--goalkeeper{

}

.button--defender{
background-color:var(--yellow) ;
}

.button--midfielder{
background-color: var(--blue);
}

.button--forward{
background-color: var(--orange);
}

.button--Coach{
background-color: var(--neon-green);
}